<!DOCTYPE html >
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Tabla Clientes</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='./showClientes.css'>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
          padding: 10pt;
        }
        </style>
</head>
<body>
    <h3>Opciones</h3>
    <ul>
      <ul>
        <li><a href="./index">Inicio</a></li>
        <li ><a href="./showClientes">Mostrar clientes</a></li>
        <li><a href="./addCliente">Añadir cliente</a></li>
        <li><a href="./searchCliente">buscar cliente</a></li>
      </ul>
      </ul>

    <h1>Lista de clientes</h1>
    
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Documento</th>
            <th>Fecha Nac</th>
            <th>Eliminar</th>
          </tr>
        <tr th:each="cliente : ${clientes}">
        <td th:text="${cliente.id}"></td>
        <td th:text="${cliente.nombre}"></td>
        <td th:text="${cliente.apellidos}"></td>
        <td th:text="${cliente.documentoIdentidad}"></td>
        <td th:text="${cliente.fecha}"></td>
        <td><a th:href="|@{/borrarCliente/{id}(id=${cliente.id})}|" class="btn btn-danger">Eliminar</a></td>
        </tr>
</table>


</body>
</html>